# Enter your name :::

Instructions:

(1) Download this file and also the input files (ES DATA.txt)

(2) Complete all tasks below to your best effort

(3) Use of any resource (including internet) is not allowed

In [3]:
# IMPORT Neccessary Packages

Q1) Import the "ES DATA" text file as df1(pandas dataframe) and then print out the first  10 records

Q2) Print the total number of records and the number of columns from df1
    (which you have imported in Q1)

Q3) Duplicate Values are always problematic, so kindly ensure whether the "ID" variable from df1 has any duplicate values

Q4) You would have noticed that in df1 dataframe "age" column has missing values. 
     Please drop out the rows contains missing values and save the dataframe as df1

Q5) As "Month" column will not be used in our analysis, please go ahead and drop that entire column.
    Save the dataframe as df1

Q6) As you would have noticed that, "gender" column is an object(i.e: string), convert the values 1 as     Male and 2 as Female, since numeric variable would be apt for Data Analysis. 
    Finally print out the no.of males and females 
    
    
    Note: Dont create a new variable instead try to convert in the same column "gender".

2    6175
1    5825
Name: gender, dtype: int64

Q7) Create a new column "weight" in df1, by converting the column "Weight in Thousands" into 1000

    Ex: 1.5 should be 1500

Q8) Index is quite confusing as it starts from 0, 
    so can you please make column "ID" as a new Index to the modified dataframe df1 from Q7?
    
    Note: Drop the duplicate column 'ID', if you have any

Q9) Create a function age_group which does the following:


     Less than 18 =1
     18-35        =2
     36-50        =3
     51+          =4    
     
     
     Create a new variable "age_cat" and use the above age_group function in df1['age'] column

,ID,Weight in Thousands,gender,hhsize,age,educat,Month,Region,age_cat
0,10001,1.579737,Male,4,32.0,4,1,8,2
1,10002,1.199508,Male,1,36.0,6,1,12,3
2,10003,1.028017,Male,5,19.0,4,1,1,2
3,10004,1.375637,Female,1,53.0,2,1,3,4
4,10006,1.389525,Male,5,44.0,7,1,9,3

#---------------------------