# # Enter your name :::

Instructions:

(1) Download this file and also the input files (titanic.csv). 
    
    You have 5 multiple choice Questions and 5 syntax related questions
    
(2) Complete all tasks below to your best effort

(3) Use of any resource (including internet,mobile) is not allowed except default help menus

In [58]:
# IMPORT Neccessary Packages

##### Q1) Import titanic flat file as titanic(pandas dataframe). Print the last 15 records
Note: Since the raw data file doesnt have variable names, we want you to name the variables as follows:
survived,pclass,sex,age,fare

##### Q2) 
   
    i) Check the datatypes of each variables and 

    ii) check whether there any missing values in any of the variable,if so please drop those rows
        and save the resulting data as titanic

##### Q3) Create a function fare_category which does the following:
    
    Less than 10 = "Group-1"
    
    11-25        = "Group-2"
    
    26 and above = "Group-3"
 

 Create a new variable "fare_cat" and use the above fare_category function in titanic['fare'] variable

##### Q4) From the titanic dataframe identify how many of them survived? Hint: 1 is survived, 0 is not survived


###### Bonus Question) Identify How many males and females survied

##### Q5) From Titanic Dataframe , you would have noticed that, "sex" column is an object
         (i.e: string), convert the values 1 as Male and 2 as Female, 
          since numeric variable would be apt for Data Analysis. 
           Finally print out the no.of males and females 
        
    Note: Dont create a new variable instead try to convert in the same column "sex".

##### Q6) When  the dataset does not contain headers and when the column names are known, how would you read  the dataframe by specifying the column names?

A - pd.read_csv("train.csv", header=None, columns=['Item_Identifier', 'Item_Weight', 'Item_Fat_Content', 'Item_Visibility' ])<br>
B - pd.read_csv("train.csv", header=None, usecols=['Item_Identifier', 'Item_Weight', 'Item_Fat_Content', 'Item_Visibility'])<br>
C - pd.read_csv("train.csv", header=None, names=['Item_Identifier' ,'Item_Weight' ,'Item_Fat_Content', 'Item_Visibility'])<br>
D - None of these

##### Your Answer here :::

##### Q7) Which of the statement would read only the top 500 rows?

A - train = pd.read_csv('train.csv', nrows=500)<br>
B - train = pd.read_csv('train.csv', numrows=500)<br>
C - train = pd.read_csv('train.csv', rows=500)<br>
D - None of these

##### Your Answer here :::

##### Q8) Complete the code to remove the columns 'Preferred_location' and 'Minimum_Duration' from a dataset .
train=train.drop(['Preferred_location','Minimum_Duration'],___________)

A - axis=0<br>
B - axis=1<br>
C - inplace=True<br>
D - inplace=False